<div id="chatbot-container">
    <h1>Chatbot</h1>
    <div id="messages-container">
      <div id="chatbot-message" class="message">Olá! Tudo bem? Posso ajudar você a descobrir sua idade.</div>
    </div>
    <div id="input-container">
      <input type="text" id="message-input" placeholder="Digite sua idade">
      <button id="send-button">Enviar</button>
    </div>
  </div>
  
  <script src="/scripts/chat.js"></script>